%h2 Renovação de Senha
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
	= devise_error_messages!
	= f.hidden_field :reset_password_token
	
	.field.left
		%label Senha
		= f.password_field :password, :autofocus => true
	.field
		%label Senha (confirmação)
		= f.password_field :password_confirmation
		
	.divider
	
	.right= f.submit "Enviar", class: "submit big"
	
	-#.left= link_to "Primeira compra? Cadastre-se", new_registration_path(resource_name), class: "button"
	-#.left= link_to "Já possui acesso? Login", new_session_path(resource_name), class: "button"

-#= render "website/clients/shared/links"

