%h1 Controle de acesso ao site e aos pedidos


= nested_form_for @data, :multipart => true do |f|
	- if @data.errors.any?
		#error_explanation
			%h2= "#{pluralize(@data.errors.count, "problema")} #{t 'errors.message'}"
			%ul
				- @data.errors.full_messages.each do |msg|
					%li= msg

	.field
		%label Site ativo (permite acesso ao site e a realização de pedidos)
		= f.check_box :active

	.field
		%label Novos usuários (permite cadastro de novos usuários)
		= f.check_box :new_users

	.field
		%label Data variável (não atribui uma data automaticamente ao pedido)
		= f.check_box :variable_date

	.field
		%label Apenas retirada (permite apenas retirada no sítio para novos clientes)
		= f.check_box :only_pickup

	.divider

	.actions
		.right= f.submit 'Salvar', class: "save"

