%h1 Site ativo


= nested_form_for @data, :multipart => true do |f|
	- if @data.errors.any?
		#error_explanation
			%h2= "#{pluralize(@data.errors.count, "problema")} #{t 'errors.message'}"
			%ul
				- @data.errors.full_messages.each do |msg|
					%li= msg

	.field.left
		%label Site ativo
		= f.check_box :active

	.field.left
		%label Novos usuários
		= f.check_box :new_users

	.divider

	.actions
		.right= f.submit 'Salvar', class: "save"

