!!! XML iso-8859-1
%orders
	- for order in @orders
		%order
			%site_id= order.id
			%status
				%site_id= order.status
				%name= order.status_to_s
			%delivery_date= order.delivery_date
			%delivery_value= order.delivery_value
			%items_value= order.items_value
			%total_value= order.total_value
			%created_at= order.created_at
			%updated_at= order.updated_at
			- client = order.client
			%client
				%site_id= client.id
				%yamasis_id= client.yamasis_id
				%shopping_id= client.shopping_id
				%kind= client.kind
				%cpf= client.cpf
				%cnpj= client.cnpj
				%rg= client.rg
				%name= client. name
				%email= client.email
				%ddd= client.ddd
				%phone= client.phone
				%aniversary= client.aniversary
				%gender= client.gender
				%optin= client.optin
				%created_at= client.created_at
				%updated_at= client.updated_at
				%route
					%site_id= client.route_id
					%name= client.route.name if client.route
				- address = client.main_address
				%address
					%kind= address.kind
					%full_address= address.full_address
					%quarter= address.quarter
					%city= address.city
					%state= address.state
					%postcode= address.postcode
					%created_at= address.created_at
					%updated_at= address.updated_at
			%items
				- for oi in order.order_items
					%item
						%site_id= oi.item_id
						%code= oi.item.code
						%name= oi.item.complete_name
						%producer
							%site_id= oi.item.producer_id
							%name= oi.item.producer.try(:name)
						%quantity= oi.quantity
						%total_value= oi.total_value
