%h1 Listing admin_items

%table
  %tr
    %th Quantity
    %th Unity
    %th Value
    %th Item
    %th Producer
    %th Quality
    %th Visible
    %th
    %th
    %th

  - @admin_items.each do |admin_item|
    %tr
      %td= admin_item.quantity
      %td= admin_item.unity
      %td= admin_item.value
      %td= admin_item.item
      %td= admin_item.producer
      %td= admin_item.quality
      %td= admin_item.visible
      %td= link_to 'Show', admin_item
      %td= link_to 'Edit', edit_admin_item_path(admin_item)
      %td= link_to 'Destroy', admin_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_admin_item_path
