= content_for :banner do
	= render partial: "/website/nivo_slider"

#cadastro
	%h2 Cadastro de Cliente
	- if @data.new_users?
		= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
			- unless devise_error_messages!.blank?
				.error_explanation{style: "color: #d22f00;"}
					%h3 Verifique o preenchimento dos campos abaixo

			= render partial: "form", locals: {f: f}

			.left= link_to "Já possui acesso? Login", new_session_path(resource_name), class: "button signup"
			.left= link_to "Esqueceu a senha?", new_password_path(resource_name), class: "button"
	- else
		%h3 Devido a situação atual o site está momentaneamente fechado para novos cadastros
		%br
		%br
		%p{:style => 'font-size:18px; line-height:28px;'} Veja na lista abaixo, alguns produtores que estão realizando delivery ou retirada de pedidos na cidade de Campinas e região.
		%br
		%p{:style => 'font-size:18px; line-height:28px;'} No momento não estamos conseguindo atender as ligações pelo telefone. Outras informações responderemos via mensagem escrita no Whatsapp (019 99625 5579), assim que possível.
		%br
		%p{:style => 'font-size:18px; line-height:28px;'}Desde já agradecemos o apoio e contamos com sua compreensão.

		= image_tag("shared/aviso.jpg", style: 'width:100%; margin-top: 40px;')
