!!!
%html
	%head
		%meta{:content => "text/html", :charset => "UTF-8", "http-equiv" => "Content-Type"}
		
	%body
	
		%p
			Prezado(a)
			%b= "#{@record.name},"
		
		%p
			recebemos uma solicitação para renovação da sua senha no site Yamaguishi Orgânicos.
			
		%p
			Clique no link abaixo, ou copie e cole o link no seu navegador para prosseguir:

		%p= "http://www.yamaguishi.com.br/cliente/password/edit?reset_password_token=#{@token}"
		-#%p= "http://novo.yamaguishi.com.br/cliente/password/edit?reset_password_token=#{@token}"
		
		%p Em caso de dúvidas favor nos contatar através dos canais abaixo.

		%p Estamos à disposição para atende-lo(a).

		%p Atenciosamente,

		%p
			%b Yamaguishi Orgânicos
		%p
			telefone: (19) 3867-1173
			%br
			e-mail: produtos@yamaguishi.com.br
			%br
			website: www.yamaguishi.com.br
			%br
			facebook: www.facebook.com/VilaYamaguishiOrganico
