%h1 Produto

.divider

= nested_form_for @admin_product, :multipart => true do |f|
	- if @admin_product.errors.any?
		#error_explanation
			%h2= "#{pluralize(@admin_product.errors.count, "problema")} #{t 'errors.message'}"
			%ul
				- @admin_product.errors.full_messages.each do |msg|
					%li= msg

	.field.left
		%label Nome
		= f.text_field :name
	
	.divider
	
	= f.fields_for :items do |i|
		= render :partial => "item_fields", :locals => {:i => i}
	= f.link_to_add "Adicionar Item", :items, class: "button right"
	
	.field
		%label Categoria
		= f.collection_select :category_id, Admin::Category.all, :id, :name, :prompt => true
			
	.field
		%label Descrição
		= f.text_area :description, cols: 70, rows: 10
		
	.field
		%label Link
		= f.text_field :link

	.actions
		.right= f.submit 'Salvar', class: "save"
