.right= link_to 'Novo Produto', new_admin_product_path, class: "button create"

%h1 Produtos

.divider

%table{class: "dynamic-table"}
	%thead
		%tr
			%th{title: "Código Produto Yamasis"} código
			%th
			%th nome
			%th categoria
			%th{nowrap: true} valor
			%th visível
			%th destaque
			
			-#%th
			-#%th
			-#%th
	%tbody
		- @admin_items.each do |admin_item|
			%tr
				%td= admin_item.code
				%td= link_to (image_tag admin_item.image(:thumb), width: 30), admin_item.product
				%td
					= link_to admin_item.complete_name, admin_item.product
					%br
					= link_to(admin_item.producer.name, admin_item.product) if admin_item.producer
				%td= admin_item.category.try(:name)
				%td{nowrap: true}= number_to_currency(admin_item.value)
				%td= check_box_tag(admin_item.id, value = "true", checked = admin_item.visible, options = {:class => "toggleVisibility"})
				%td= check_box_tag(admin_item.id, value = "true", checked = admin_item.highlight, options = {:class => "toggleHighlight"})
				-#%td= link_to 'Show', admin_item
				-#%td= link_to 'Edit', edit_admin_item_path(admin_item)
				-#%td= link_to 'Destroy', admin_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
	%tfoot
		%tr
			%th
			%th
			%th
			%th
			%th
			%th
			%th
