#step_by_step
	%h5{:class => 'left', :style => 'background-color:#cccccc; padding:10px; color: white; font-weight:bold;'} 1. Produtos
	.arrow-right.left
	.arrow-left.left
	%h5{:class => 'left', :style => 'background-color:#cccccc; padding:10px 10px 10px 27px; color: white; font-weight:bold;'} 2. Entrega
	.arrow-right.left
	.arrow-left.left
	%h5{:class => 'left', :style => 'background-color:#7f974a; padding:10px 10px 10px 27px; color: white; font-weight:bold;'} 3. Confirmação

.space

%h2 Pedido confirmado!

- if @order.delivery_date.present?
	%p
		Seu pedido número
		= @order.id.to_s.rjust(6, "0")
		foi confirmado
		- if @order.delivery
			%b
				e está programado para ser entregue
				= l @order.delivery_date, format: :delivery
		- else
			%b
				e está programado para ser retirado
				= l @order.delivery_date, format: :delivery
			- if @order.pickup == 1
				na Vila Yamaguishi
			- elsif @order.pickup == 2
				na Feira do Bosque dos Jequitibás, entre 7h e 10h
			- elsif @order.pickup == 3
				na Feira do Parque Ecológico, entre 7h e 11h
			- elsif @order.pickup == 4
				na Feira de Holambra, entre 8h e 10h
- else
	%p
		Seu pedido número
		= @order.id.to_s.rjust(6, "0")
		foi recebido.
	%p Em breve entraremos em contato para confirmar a data de entrega e o valor do frete.

%p Você receberá uma confirmação por e-mail.

%p= link_to "Retornar à Loja", root_path


:javascript
	$(document).ready( function() {
		if ($(window).scrollTop() > 345) {
			$("#step_by_step").addClass("fixed")
		}
	});
