#step_by_step
	%h5{:class => 'left', :style => 'background-color:#cccccc; padding:10px; color: white; font-weight:bold;'}
		= link_to '1. Produtos', 'pedido', style: 'color: white; text-decoration: none;'
	.arrow-right.left
	.arrow-left.left
	%h5{:class => 'left', :style => 'background-color:#7f974a; padding:10px 10px 10px 27px; color: white; font-weight:bold;'} 2. Entrega
	.arrow-right.left.enabled
	.arrow-left.left
	%h5{:class => 'left', :style => 'background-color:#cccccc; padding:10px 10px 10px 27px; color: white; font-weight:bold;'} 3. Confirmação
.space
= form_for @order, :remote => true, url: order_update_delivery_url, html: {name: 'order_form'} do |f|

	%h3.left Produtos
	%table
		%thead
			%tr
				%th{:width => 30}
				%th{:width => 30} qtde
				%th produto
				%th{:width => 90} valor
		%tbody
			= f.fields_for :order_items do |item|
				%tr{class: "#{'not-available' if !item.object.available}"}
					%td= image_tag item.object.item.image(:mini), class: "image"
					%td= item.object.quantity
					%td
						= item.object.name
						- if !item.object.available
							%span &ndash; (produto indisponível)
					%td= number_to_currency(item.object.total_value)
			%tr
				%td.total{colspan: 3} Total dos Produtos
				%td{:class => 'total', :id => 'items_value'}= number_to_currency(@order.items_value)
				%td.total

	.space

	%h2{:id => 'delivery_details', :style => 'margin-bottom: 20px;'}
		Detalhes da Entrega - Pedido
		= "#{@order.id.to_s.rjust(6, '0')}"

	= f.radio_button :delivery, true, disabled: (current_client.route_id == 19) || (!current_client.accept_delivery) || (@data.only_pickup && current_client.new)
	%span{class: "#{'current' if @order.delivery} #{'disabled' if !current_client.accept_delivery}"} Entrega em Domicílio

	.space

	= f.radio_button :delivery, false,  disabled: !current_client.accept_pickup
	%span{:class => ('current' if !@order.delivery)} Retirada

	= f.select :pickup, [['--escolha uma opção--', 0], ['Sítio Yamaguishi', 1], ['Feira do Bosque (quarta)', 2], ['Feira do Parque Ecológico (domingo)', 3], ['Feira Holambra (sábado)', 4], ['Feira do Centro de Convivência (sexta)', 5]], {}, disabled: @order.delivery || !current_client.accept_pickup

	- if @data.only_pickup && current_client.new
		%span{:style => 'margin-top: 10px; margin-bottom: 20px; color: #d22f00; font-weight: bold; display: block; font-size: 12px;'} Devido a situação atual, estamos disponibilizando apenas a opção para retirada no sítio

	- if !current_client.accept_delivery
		%span{:style => 'margin-top: 10px; margin-bottom: 20px; color: #d22f00; font-weight: bold; display: block; font-size: 12px;'} Se deseja receber em domicílio, entre em contato via Whatsapp (19 99625-5579) para alterar a rota

	%table{:style => 'margin-top: 20px;'}
		%thead
			%tr
				-#%th cliente
				%th{:width => 140} endereço
				%th{:width => 220}= @order.delivery == true ? 'data de entrega' : 'data de retirada'
				%th{:width => 90} taxa de entrega
		%tbody
			%tr
				%td
					- if @order.delivery

						-# ENTREGA
						= current_client.main_address.full_address
						%br
						= "#{current_client.addresses.first.quarter} - #{current_client.addresses.first.city}/#{current_client.addresses.first.state}"
						%br
						= "#{current_client.addresses.first.postcode}"
						%br
						= link_to "[alterar endereço]", client_path

					- else

						- if @order.pickup == 1
							-# RETIRA
							Rod. SP-340 Km 138
							%br
							Jaguariúna - SP - CEP 13820-000
							%br das 7h às 15h
						- elsif @order.pickup == 2
							-# RETIRA
							=link_to "Pq. Bosque dos Jequitibás", "https://goo.gl/maps/3RzWHAPjYk7emSYS6", target: "_blank"
							%br
							Estac. Bosque
							%br
							Av. Aquidabã
						- elsif @order.pickup == 3
							-# RETIRA
							=link_to "Pq. Ecológico Monsenhor Emílio J.Salim", "https://goo.gl/maps/ZPPhwzQTHskPdcL26", target: "_blank"
							%br
							Rod. Heitor Penteado, 1000, Vila Brandina
						- elsif @order.pickup == 4
							-# RETIRA
							=link_to "Feira Holambra", "https://goo.gl/maps/TssKeosMXMjWPRYRA", target: "_blank"
							%br
							Praça Vitória Régia
							%br
							em frente a R. Primavera, 936
						- elsif @order.pickup == 5
							-# RETIRA
							=link_to "Centro de Convivência", "https://goo.gl/maps/MqMxNgNsg5WLh1pH8", target: "_blank"
							%br
							Praça Imprensa Fluminense, s/n - Cambuí


				%td{:width => 220}
					- if @order.delivery_date
						- if @order.delivery == true
							%b
								= l(@order.delivery_date, format: :delivery)
							%br
							= "(#{@order.client.route.name})"
						- else
							- if @order.pickup == 1
								%p
									%i
										Disponível a partir das 8h de
										= "#{l(get_delivery_date(false, 1), format: :delivery)}."
									%br
									%b
										Selecione a data da retirada
								= f.date_select :delivery_date
								.space
								%i
									Atendemos de segunda a sexta-feira das 8h às 17h, e de sábado das 8h às 11h
							- elsif @order.pickup == 2
								%p
									%b
										Disponível entre 7h-11h de
										= "#{l(get_delivery_date(false, @order.pickup), format: :delivery)}."
							- elsif @order.pickup == 3
								%p
									%b
										Disponível entre 7h-11h de
										= "#{l(get_delivery_date(false, @order.pickup), format: :delivery)}."
							- elsif @order.pickup == 4
								%p
									%b
										Disponível entre 8h-10h de
										= "#{l(get_delivery_date(false, @order.pickup), format: :delivery)}."
							- elsif @order.pickup == 5
								%p
									%b
										Disponível entre 7h-11h de
										= "#{l(get_delivery_date(false, @order.pickup), format: :delivery)}."
					- else
						- if get_variable_date
							%span{:style => 'color: #d22f00; font-weight: bold; display: block; font-size: 12px;'} Devido a situação atual, a data de entrega/retirada será informada por e-mail, assim como o valor do frete, caso haja
						- elsif !@order.delivery_date.present?
							Após a confirmação do pedido informaremos a data de entrega/retirada e o valor do frete.

				%td{:width => 90}= @order.delivery_date ? number_to_currency(@order.delivery_value) : ""
			%tr
				%td.total{colspan: 2} Total do Pedido
				%td.total= number_to_currency(@order.total_value)


	.space
	.right
		#confirm
			= link_to "Continuar comprando", "/c/verduras-e-folhas", class: "button", style: 'background-color: blue; color: white; padding: 10px;'
			- if (@order.items_value >= 90 || !@order.delivery) && current_client
				ou
				= link_to "Confirmar e Fechar", "pedido/fechar", :id => 'confirm_order', :remote=>true, class: "button", style: 'background-color: #1c7935; font-size: 1.4em; color: white; padding: 7px;'
		#other_order{:style => 'display:none;'}
			%p{:style => 'font-weight:bold; color:red; font-size:14px;'}
				Foi encontrado um outro pedido aberto (ainda não entregue) com a mesma data de entrega. Você gostaria de:
			%div{:style => 'margin: 10px 0'}
				= link_to "Mesclar os pedidos", "pedido/mesclar", class: "button actions-links", confirm: "Deseja realmente mesclar os dois pedidos? Nesse caso, os produtos serão somados e você poderá alterar algo, se desejar.", style: 'background-color: #1c7935; color: white; padding: 5px; display:inline-block; margin-bottom:5px;'
				= link_to "Cancelar o outro pedido e manter este", "pedido/manter", id: "keep", remote: true, class: "button actions-links", confirm: "Deseja realmente cancelar o outro pedido e manter este?", style: 'background-color: #1c7935; color: white; padding: 5px; display:inline-block; margin-bottom:5px;'
				= link_to "Cancelar este pedido", "pedido/manter_outro", class: "button actions-links", confirm: "Deseja realmente cancelar este pedido e manter o outro?", style: 'background-color: #1c7935; color: white; padding: 5px; display:inline-block; margin-bottom:5px;'
		#other_scheduled_order{:style => 'display:none;'}
			%p{:style => 'font-weight:bold; color:red; font-size:14px;'}
				Foi encontrado um outro pedido já agendado com a mesma data de entrega. Você gostaria de:
			%div{:style => 'margin: 10px 0'}
				= link_to "Fazer este pedido mesmo assim", "pedido/manter",  id: "keep2", remote: true, class: "button actions-links", confirm: "Deseja realmente confirmar também este pedido?", style: 'background-color: #1c7935; color: white; padding: 5px; display:inline-block; margin-bottom:5px;'
				= link_to "Cancelar este pedido", order_destroy_path, class: "button actions-links", confirm: "Deseja realmente cancelar este pedido?", style: 'background-color: #1c7935; color: white; padding: 5px; display:inline-block; margin-bottom:5px;'
	.space

.box
	= Admin::Page.find_by_link("pedido").content.html_safe
.space
.left= link_to "Excluir Pedido", order_destroy_path, class: "button", confirm: "Deseja excluir este pedido?" unless @order.order_items.empty?

:javascript
	$(document).ready( function() {
		$(document).off( "change", "select");
		$(document).off( "change", "input");

		$(document).on('change', 'select', function() {
			$("form[name*='order_form']").submit()
		});
		$(document).on('change', 'input', function() {
			$("form[name*='order_form']").submit()
		});

		$('#confirm_order').bind('ajax:beforeSend', function(evt, xhr, settings) {
			$("#confirm_order").addClass("disabled");
			$("#loading-overlayer").addClass("show");
			$("#loading-indicator").addClass("show");
		});
		$('#keep').bind('ajax:beforeSend', function(evt, xhr, settings) {
			$("#keep").addClass("disabled");
			$(".actions-links").addClass("disabled");
			$("#loading-overlayer").addClass("show");
			$("#loading-indicator").addClass("show");
		});
		$('#keep2').bind('ajax:beforeSend', function(evt, xhr, settings) {
			$("#keep").addClass("disabled");
			$(".actions-links").addClass("disabled");
			$("#loading-overlayer").addClass("show");
			$("#loading-indicator").addClass("show");
		});

		$('#confirm_order').bind('ajax:error', function(e, xhr, status, error) {
			var errors = $.parseJSON(xhr.responseText);
			if (errors.id) {
				$("#other_order").show();
				$("#confirm").hide();
				alert("Foram encontrados problemas com o seu pedido, verifique a mensagem em vermelho e escolha uma opção")
			}
			else if (errors.status) {
				$("#other_scheduled_order").show();
				$("#confirm").hide();
				alert("Foram encontrados problemas com o seu pedido, verifique a mensagem em vermelho e escolha uma opção")
			}
			else {
				errorText = "Encontramos alguns erros que precisam ser corrigidos: \n";
				for ( error in errors ) {
					errorText += errors[error] + "\n";
				}
				alert(errorText);
				location.replace("/pedido")
			}
			$("#confirm_order").removeClass("disabled");
			$("#loading-overlayer").removeClass("show");
			$("#loading-indicator").removeClass("show");
		});

		if ($(window).scrollTop() > 300) {
			$("#step_by_step").addClass("fixed")
		}


	});
