= content_for :banner do
	= render partial: "nivo-slider"

#order
	.left
		%h2 Meus pedidos
	.right
		%h3{style: 'margin-top: 14px;'}
			= link_to "Minha conta", client_path

	%table
		%thead
			%tr
				%th código
				%th valor
				%th data
				%th entrega
				%th local
				%th status
				%th
		%tbody
			- @client_orders.each do |client_order|
				%tr
					%td= client_order.id.to_s.rjust(6, "0")
					%td= number_to_currency(client_order.total_value)
					%td= client_order.confirmed_at.present? ? l(client_order.confirmed_at, format: :delivery) : "A Confirmar"
					%td= client_order.delivery_date.present? ? l(client_order.delivery_date, format: :delivery) : "A Confirmar"
					%td
						- if client_order.delivery
							Casa do cliente
						- else
							- if client_order.pickup == 1
								Retirada no Sítio Yamaguishi
							- elsif client_order.pickup == 2
								Retirada na Feira do Bosque
							- elsif client_order.pickup == 3
								Retirada no Parque Ecológico
							- elsif client_order.pickup == 4
								Retirada na Feira de Holambra
					%td
						- if client_order.status == 3 && client_order.delivery_date.present?
							- if Time.now > client_order.delivery_date
								Entregue
							- else
								=client_order.status_to_s
						- else
							=client_order.status_to_s
					%td
						- if client_order.status == 2
							=link_to ('<span class="glyphicon glyphicon-trash"></span>').html_safe, order_cancel_path(client_order.id), class: "delete_item", confirm: "Deseja realmente cancelar este pedido?"
