= content_for :banner do
	= render partial: "nivo-slider"

#order
	%h2 Meu histórico de pedidos

	%table
		%thead
			%tr
				%th código
				%th valor
				%th data
				%th entrega
				%th status
		%tbody
			- @client_orders.each do |client_order|
				%tr
					%td= client_order.id.to_s.rjust(6, "0")
					%td= number_to_currency(client_order.total_value)
					%td= client_order.confirmed_at.present? ? l(client_order.confirmed_at, format: :delivery) : "A Confirmar"
					%td= client_order.delivery_date.present? ? l(client_order.delivery_date, format: :delivery) : "A Confirmar"
					%td= client_order.status_to_s
