= content_for :banner do
	= render partial: "nivo-slider"
	
%h2 Pedido confirmado!

- if @order.delivery_date.present?
	%p
		Seu pedido número
		= @order.id.to_s.rjust(6, "0")
		foi confirmado
		%b
			e está programado para ser entregue
			= l @order.delivery_date, format: :delivery
- else
	%p
		Seu pedido número
		= @order.id.to_s.rjust(6, "0")
		foi recebido.
	%p Em breve entraremos em contato para confirmar a data de entrega e o valor do frete.

%p Você receberá uma confirmação por e-mail.

%p= link_to "Retornar à Loja", root_path
