= content_for :banner do
	= render partial: "nivo_slider"

#order
	- if @data.active?

		#cart
			= render partial: "cart"

		- if current_client && !@order.order_items.empty?

		- else

			.space
			.right= link_to "Login para continuar", "cliente/login", class: "button", style: 'background-color: #1c7935; font-size: 1.4em; color: white; padding: 7px;' unless @order.order_items.empty?
			.space

		- unless current_client
			.box
				As datas e formas de entrega, incluindo o valor do frete, dependem da identificação do cliente, e serão apresentados na etapa seguinte. Após clicar em "Confirmar Pedido" você ainda terá opção de revisa-lo antes de confirmar. Para mais informações consulte a página
				= link_to "Como Comprar.", "/como-comprar"

	- else
		%h2 Devido a situação atual o site está momentaneamente fechado para novos pedidos
