!!!
%html
	%head
		%title Admin | Yamaguishi Orgânicos
		= stylesheet_link_tag "admin/main"
		= javascript_include_tag "admin/main"
		= csrf_meta_tags

		%link{:href => "/assets/favicons/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
		%link{:href => "/assets/favicons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
		%link{:href => "/assets/favicons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
		%link{:href => "/assets/favicons/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
		%link{:href => "/assets/favicons/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
		%link{:href => "/assets/favicons/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
		%link{:href => "/assets/favicons/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
		%link{:href => "/assets/favicons/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
		%link{:href => "/assets/favicons/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
		%link{:href => "/assets/favicons/favicon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
		%link{:href => "/assets/favicons/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}
		%link{:href => "/assets/favicons/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
		%link{:href => "/assets/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
		%link{:href => "/assets/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
		%meta{:content => "#da532c", :name => "msapplication-TileColor"}
		%meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}

	%body
		#container
			#header
				.top
					= link_to image_tag("shared/top.jpg"), "/admin"
				.menu
					%p#notice= notice
					%noscript
						%p O seu navegador não suporta Javascript e alguns recursos não podem funcionar.

					-#%li= link_to "LOJA", "/admin/loja", class: "loja"
					-#%li= link_to "CONTEÚDO", "/cursos", class: "cursos"
					-#%li= link_to "BLOG", "/blog", class: "blog"
			#main
				- unless request.fullpath == "/admin/login"
					#sidebar
						.categories
							%ul
								%li{class: current_page?(admin_products_path) ? "active" : ""}= link_to_unless_current "Produtos", admin_products_path
								%li{class: current_page?(admin_orders_path) ? "active" : ""}= link_to_unless_current "Pedidos", admin_orders_path
								%li{class: current_page?(admin_clients_path) ? "active" : ""}= link_to_unless_current "Clientes", admin_clients_path
								%li{class: current_page?(admin_producers_path) ? "active" : ""}= link_to_unless_current "Produtores", admin_producers_path
								%li{class: current_page?(admin_categories_path) ? "active" : ""}= link_to_unless_current "Categorias", admin_categories_path
								%li{class: current_page?(admin_routes_path) ? "active" : ""}= link_to_unless_current "Rotas de Entrega", admin_routes_path
								%li{class: current_page?(admin_shops_path) ? "active" : ""}= link_to_unless_current "Pontos de Venda", admin_shops_path
								%li{class: current_page?(admin_pages_path) ? "active" : ""}= link_to_unless_current "Páginas", admin_pages_path
								%li{class: current_page?(admin_attaches_path) ? "active" : ""}= link_to_unless_current "Imagens", admin_attaches_path
								%li{class: current_page?(admin_client_changes_path) ? "active" : ""}= link_to_unless_current "Alterações clientes", admin_client_changes_path
								%li{class: current_page?(admin_order_changes_path) ? "active" : ""}= link_to_unless_current "Alterações status pedido", admin_order_changes_path
								%li{class: current_page?(admin_maintenance_path) ? "active" : ""}= link_to_unless_current "Manutenção", admin_maintenance_path
								%li{class: current_page?(admin_administrators_path) ? "active" : ""}= link_to_unless_current "Site", admin_administrators_path

				#content
					= yield

			#footer
				.administrator
					.right
						- if administrator_signed_in?
							= current_administrator.name
							= link_to "[logout]", destroy_administrator_session_path, method: :delete, class: "last"

				= yield :scripts #for Google-Maps-for-Rails
